html, body {
    height: 100%;
    margin: 0;
    background-color:white;
}

body {
    display: flex;
    flex-direction: column;
}

.photo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button_spacer {
    flex-grow: 1;
}

.push {
    flex-shrink: 0;
    margin: 4px;
}

.user_info {
    width: 100%;
}